@media all and (max-width:991px) {
	.honda_image {
		margin-top: 56px;
	}
	.single_item_client{
		margin-bottom: 24px;
	}
	.frequantly_vactor_image {
		text-align: center;
		width: 90%;
		margin: auto;
	}
	.frequantly_vactor_image img {
		width: 100% !important;
	}
	.frequantly_question_area {
		margin-top: 67px;
	}
}
@media all and (max-width:767px) {

	.hero_section_area {
		padding-top: 121px;
		padding-bottom: 36px;
	}
	h1 {
		font-size: 34px;
		padding-bottom: 10px !important;
	}
	.section_title {
		padding-bottom: 60px;
	}
	.bike_image.text-center {
	    margin-bottom: 45px;
	}
	.fetured_bikes_section_area {
		padding-bottom: 10px;
	}
	.client_single {
	    width: 100%;
	    margin: auto;
	}
	.frequantly_asked_question_section_area {
		padding-top: 0;
	}

	.about_secion_area .section_title{
	    padding-bottom: 30px;
	}
	.about_secion_area{
	    padding-bottom: 20px;
	    padding-top: 20px;
	}
	.about_description{
		padding-top: 20px;
	}

}
