/* Defalut css */
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
label,
ul {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

li {
    list-style: none;
}
input,
select,
textarea {
    outline: none;
}

button:focus {
    outline: none !important;
    text-shadow: none !important;
}

h1 {
    font-size: 48px;
    font-weight: 600;
}
h1 span {
    color: #E76F51;
}
p {
    font-size: 16px;
}

/*Hero Css Area*/
.hero_section_area {
    background: #264653;
    padding-top: 155px;
    padding-bottom: 96px;
}
.hero_button {
    background: #E76F51;
    outline: none;
    width: 168px;
    height: 44px;
}
.form-control:focus {
    box-shadow: none !important;
}
.form-control {
    padding: 12px 20px !important;
}
.section_title_after span::after {
    content: "";
    width: 58px;
    height: 1px;
    background: #E76F51;
    left: 0;
    right: 0;
    margin: 0 auto;
    overflow: hidden;
    position: absolute;
    bottom: -3px;
    z-index: -1;
}
.fetured_bikes_section_area {
    padding-top: 64px;
}
.section_padding {
    padding: 70px 0;
}
.bike_image.text-center img {
    width: 80%;
}
.section_title {
    padding-bottom: 100px;
}
.single_bike_item:first-child img, .single_bike_item:last-child img {
    -webkit-filter: grayscale(1.1);
            filter: grayscale(1.1);
}
.profile_image {
    width: 150px;
    height: 150px;
}
.review_start li {
    color: #E77C40;
    padding: 0 5px;
}
.client_single {
    width: 95%;
    margin: auto;
}

/*Accordion Style Css*/
.accordion_single_item {
    border: 1px solid #D5E5FB !important;
    border-radius: 5px;
    margin-bottom: 27px;
}
.accordion_single_item:last-child {
    margin-bottom: 0;
}
.accordion-button {
    color: #383838 !important;
    background-color: transparent !important;
    box-shadow: none !important;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
}
.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%230c63e'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important;
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
}
.accordion_single_item p {
    font-family: 'Inter', sans-serif;
    color: #7E848C;
}
.accordion-body {
    padding: 1rem 1.25rem;
    padding-top: 0;
}
/*Contact Section Area*/
.contact_section_area .section_title {
    padding-bottom: 52px;
}
/*About SEcion Css*/
.about_description p{
    margin-bottom: 15px;
}
.hero_button_a {
    background: #E76F51;
    outline: none;
    width: 168px;
    display: inline-block;
    text-align: center;
    color: #FFF;
    font-weight: 700;
    padding: 11px;
    border-radius: 7px;
    margin-top: 10px;     
}
.hero_button_a:hover{
    color: #FFF;
}
.about_secion_area .section_title{
    padding-bottom: 50px;
}